        .mainfaq {
            grid-area: main;
            background-image: url(/assets/img/faq.png);
            background-size: contain;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            .divfaqmain {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 50%;
                background-color: $backcolor;
                >h1 {
                    font-weight: bolder;
                    text-align: center;
                    font-size: 36px;
                    padding: 10px;
                }
            }
            .preguntasdiv{
                
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 50%;
                gap: 10px;
                padding: 15px;
            }
        }
        .asidefaq {
            grid-area: aside;
            height: 300px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            background-image: linear-gradient(rgb(253, 253, 253),lightblue,rgb(99, 158, 209));
        }
