.indexbody {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: auto 2fr 300px;
    grid-template-areas:
        "header header header "
        "main main main "
        "asideindex asideindex asideindex"
        "footer footer footer";
}
.maindex {
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $backcolor;
    overflow: hidden;
        .h1index {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 5px;
            font-size: 36px;
            border-radius: 5px;
            font-weight: bolder;
        }
        .h2index {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 5px;
            font-size: 36px;
            border-radius: 5px;
            font-weight: bolder;
        }
        @media screen and (max-width: 1719px) {
            .tarjetas {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
        }

        .bannerdiv{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            >img{
                width: 100%;
                height: 450px;
                object-fit: fill;
            }
            overflow: hidden;
        }
        .tarjetas {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            min-height: 300px;
            padding: 10px;
            border-radius: 5px;
            margin: 10px;
            color: $backcolor;
            .tarjeta {
                display: flex;
                flex-direction: row;
                width: 800px;
                column-gap: 10px;
                margin: 5px;
                border-radius: 5px;
                padding: 10px;
                >.img {
                    border-radius: 20px;
                    width: 320px;
                    height: 320px;
                    border-color: black;
                    border-style: solid;
                    border-width: 2px;
                }
                .tarjeta-info {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    column-gap: 10px;
                    margin: 10px;
                    padding: 10px;
                    border-color: black;
                    border-style: solid;
                    border-width: 3px;
                    border-radius: 10px;
                    background-color: rgb(230, 230, 230);
                    >h3 {
                        width: 250 px;
                        margin: 3 px;
                        padding: 10 px;
                        border-radius: 5 px;
                        color: black;
                        font-weight: bolder;
                        font-size: 25px;
                        text-align: center;
                    }
                    >p {
                        width: 420px;
                        margin: 10px;
                        padding: 10px;
                        border-radius: 5px;
                        color: black;
                        font-size: large;
                    }
                    >.btn{
                        margin-left: 300px;
                    }
                }
            }
        }
}
.asideindex {
    grid-area: asideindex;
    background-color: $backcolor3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 400px;
    >img {
        width: 50%;
        height: 300px;
        padding: 5px;
    }
}