.bodyprod{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: auto 2fr 450px;
    grid-template-areas:
        "header header header "
        "main main main "
        "asidep asidep asidep"
        "footer footer footer";


        >.mainprod {
            grid-area: main;
            
            .tituloprod {
                width: 100%;
                height: 100px;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 36px;
                display: flex;
                padding: 10px;
            }
            .productospagina{
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                margin: 25px;
                padding: 10px;
                justify-content: center;
                .tarjetaprod{
                    @extend %tarjetaprod;
                    >.imgprod {
                        width: 300px;
                        height: 300px;
                        object-fit: contain;
                        border-radius: 40px;
                        padding: 30px;
                    }
                }
                .tarjetaprod:hover {
                    cursor: pointer;
                    box-shadow: 0 10px 20px black;
                    overflow: hidden;
                }
                .tarjetaprod:hover img {
                    transform: scale(1.2);
                }
            }
            
        .btnnro {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 30px;
            border-radius: 10px;
            gap: 10px;
            .btnum {
                background-color: black;
                color: white;
            }
            >.btnum:hover {
                cursor: pointer;
                font-weight: bolder;
                background-color: lightblue;
            }
        }
        }
        .asideprod{
            grid-area: asidep;
            width: 100%;
            height: 450px;
            }
    }
